.cbc-container {
	display: flex;
	flex-direction: column;
	width: 66.66vw;
	flex-basis: 66.66vw;
	height: 100vh;

    .cbc-welcome-warpper {
        display: flex;
        justify-content: center;
        justify-items: center;
        background: #eee;
        h1 {
            font-size: 63px;
            margin: 0;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
        }
        p {
            font-size: 21px;
            font-weight: 200;
        }
    }
    .cbc-welcome-item {
        padding: 60px 0;
    }
    .cbc-navbar {
        background: #3680c3;
        color: #fff;
        padding: 10px;
        max-height: 80px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .cbc-navbar-item, .cbc-navbar-item > * {
        display: flex;
        flex-direction: row;
    }
    .cbc-navbar-item {
        align-items: center;
        justify-content: flex-start;
    }
    .navBarText {
        font-size: 17px;
        margin-top: 13px;
        margin-left: 10px !important;
        font-size: 17px;
    }
    .cbc-avatar-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .cbc-avatar {
        height: auto !important;
        width: 100% !important;
        border-radius: unset !important;
        overflow: unset !important;
    }
    .message-list {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .cbc-container-mlist {
        flex: 1;
        background: #e6e6e6;
        overflow: auto;
        height: calc(100% - 114px);
    }
    .cbc-mlist {
        display: block;
        position: relative;
        overflow: auto;
        flex: 1 1 0%;
    }
    .message {
        margin-top: 10px;
    }
    .cbc-container-mbox {
        flex-direction: column;
        display: block;
        min-width: 200px;
        overflow: hidden;
    }
    .cbc-mbox {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
        flex-direction: column;
        float: left;
        min-width: 140px;
        background: rgb(250, 235, 215);
        border-radius: 0px 5px 5px;
        margin: 3px 5px 3px 20px;
        padding: 6px 9px 8px;

        &.rce-mbox-right {
            float: right;
            margin-left: 5px;
            margin-right: 20px;
            border-top-right-radius: 0px;
            border-top-left-radius: 5px;
            background-color: #fff !important;
        }
    }
    .cbc-mbox-body {
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .cbc-mbox-user {
        font-weight: bold !important;
    }
    .cbc-mbox-text {
        padding: 3px;
        font-size: 13.6px;
        word-break: break-word;
        &:after {
            content: "\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0\A0";
        }
    }
    .cbc-mbox-time {
        text-align: right;
        color: rgba(0, 0, 0, 0.45);
        font-size: 12px;
        position: absolute;
        right: -4px;
        bottom: -5px;
        &.non-copiable {
            &:before {
                content: attr(data-text);
            }
        }
    }
    .cbc-mbox-right-notch {
        position: absolute;
        right: -14px;
        top: 0px;
        width: 15px;
        height: 15px;
        fill: #fff;
        filter: drop-shadow(rgba(0, 0, 0, 0.2) 2px 0px 1px);
    }
    .cbc-mbox-left-notch {
        fill: rgb(250, 235, 215) !important;
        position: absolute;
        left: -14px;
        top: 0px;
        width: 15px;
        height: 15px;
        fill: rgb(255, 255, 255);
    }
    input, button {
        font: inherit;
        border: 0;
    }
    .cbc-create-message input[type="text"]:hover,
    .cbc-create-message input[type="text"]:focus,
    .cbc-create-message button[type="submit"]:hover,
    .cbc-create-message button[type="submit"]:focus {
        outline: none;
    }
    .cbc-message {
        display: flex;
        grid-column: 2;
        height: 34px;
        z-index: 1;
    }
    input {
        flex-basis: 85vw;
        padding: 0.5em 0.75em;
    }
    button {
        flex-basis: 15vw;
        padding: 0.5em 0.75em;
        background: #3680c3;
        color: #fff;
    }
    .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }    
}
.rtl {  
    .cbc-mbox-time {
        left: -4px;
        right: 0;
        text-align: left;
    }

    .arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@media (max-width: 767px) {
	.cbc-container {
        width: 100vw;
        flex-basis: 100vw;
        max-width: 100vw;
	}
}
  
@media (min-width: 768px) and (max-width: 991px) {
	.cbc-container {
        width: 100vw;
        flex-basis: 100vw;
        max-width: 100vw;
	}
}
  
@media (min-width: 992px) {  
	.cbc-container {
        width: 66.66666667vw;
	}
}